*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#lupa-lg{
    margin-left: -200px;
    margin-right: 300px;
    cursor: pointer;
}

#lupa-sm{
    margin-left: -80px;
    margin-right: 50px;
    cursor: pointer;
}

#user-sm{
    margin-left: -0px;
    margin-right: 0px;
    cursor: pointer;
}



@media screen and (max-width: 375px) {
    .lupa{
        cursor: pointer;
    }

    #titulo-nav
    {
       display: none;
    }
}